* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-area {
    margin-top: 100px;
    padding: 20px 0;
    background-color: rgb(41, 41, 41);
}

.single-footer h4 {
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 20px;
}

.footer-social a {
    color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer-social {
    margin-top: 20px;
}

.single-footer ul {
    list-style: none;
}

.single-footer ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.single-footer ul li a {
    color: white;
    text-transform: capitalize;
    text-decoration: navajowhite;
}

.single-footer ul li a i {
    position: absolute;
    left: 0;
    right: 5px;
}

.copyright {
    text-align: center;
    text-transform: capitalize;
    margin-top: 35px;
}